<div class="top-buy-social text-right">
  {% if sn_instagram %}
    <a href="{{ sn_instagram }}" class="top-social fab fa-instagram" target="_blank"></a>
  {% endif %}
  {% if sn_facebook %}
    <a href="{{ sn_facebook }}" class="top-social fab fa-facebook" target="_blank"></a>
  {% endif %}
</div>
