$grey: #dfdfdf;
$grey-background: #f7f7f7;
$grey-disabled: #d9d9d9;
$grey-dark: #7f7f7f;
$gray-label: #b5b5b5;
$gray-step3-label: #4d4d4d;
$gray-location-box: #939292;
$red: #b43539;
$red-light: #c23a3e;
$gold: #c8a876;
$black: #000;
$blue: #00549f;
$blue-hover: #00549f;

$font: 'Calibre';
$font--secondary: 'Americana Std';
$font--tertiary: 'Lutz Headline';
$font--quaternary: 'Buinton';


$mobile: 768px;
