<div class="step-3__left">
  {% include '@beam_pages/includes/step-3/bottle.html.twig' %}
</div>
<div class="step-3__right">
  <div class="accordion" v-accordion>
      {% include '@beam_pages/includes/step-3/coupon-code.html.twig' %}
      {% include '@beam_pages/includes/step-3/personal-details.html.twig' %}
      {% include '@beam_pages/includes/step-3/content-permission.html.twig' %}
  </div>
</div>
