@import '../common/variables';

.block-version {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9999;
  border-width: 1px 0 0 1px;
  border-style: solid;
  border-color: black;
  text-align: center;
  padding: 15px;
  background-color: white;
  span {
    font-weight: 600;
  }
}
