@import '../common/variables.scss';

.country-flag {
  .dropdown {
    &.open {
      .dropdown-menu {
        .country-option {
          padding: 5px 0 5px 0;
          text-align: center;
          width: 100%;
          clear: both;
          white-space: nowrap;
          background-color: transparent;
          border: 0;
          font-weight: 400;
          font-size: 20px;
          font-family: $font;
          display: block;
          margin: 0;
          cursor: pointer;
          &:hover {
            background-color: $red;
            color: white;
            cursor: pointer;
          }
        }
      }
    }
  }
}
