@import '../common/variables';

.link-button {
  cursor: pointer;
  display: block;
  min-width: 202px;
  line-height: 46px;
  border: solid 2px black;
  background-color: white;
  padding: 3px 15px 0;
  box-sizing: border-box;
  font-family: $font--tertiary;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 1.13px;
  text-align: center;
  color: black;
  &:hover {
    color: white;
    background: black;
  }
}

.field-link {
  height: 18px;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: $red;
}


@media (max-width: $mobile) {
  .link-button {
    min-width: 180px;
    line-height: 40px;
    font-size: 10px;
  }
}
