@import '../common/variables';

.display-2cols {
  .Container-top {
    display: flex;
    min-height: calc(100vh - 250px);
    position: relative;
    justify-content: flex-end;
    align-items: center;

  }
  .Col-left, .Col-right {
    width: 50%;
    height: 100%;
    overflow: hidden;
  }
  .Col-left {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
  }
}

@media (max-width: $mobile) {
  .display-2cols {
    flex-direction: column;
    min-height: auto;
    justify-content: initial;
    .Container-top {
      flex-direction: column;
      height: auto;
    }
    .Col-left, .Col-right {
      width: 100%;
    }
    .Col-left {
      position: initial;
    }
    .link-button {
      margin-bottom: 15px;
    }
    .field-link {
      display: none;
    }
  }
}
