<div class="footer-social">
  {% if sn_facebook %}
    <a href="{{ sn_facebook|t }}" class="fab fa-facebook-f"></a>
  {% endif %}
  {% if sn_twitter %}
    <a href="{{ sn_twitter|t }}" class="fab fa-twitter"></a>
  {% endif %}
  {% if sn_instagram %}
    <a href="{{ sn_instagram|t }}" class="fab fa-instagram"></a>
  {% endif %}
</div>
