<div class="step-3__left">
  {% include '@beam_pages/includes/step-3/bottle.html.twig' %}
</div>
<div class="step-3__right">
  <div class="step-3__wrapper-inputs">
    {% include '@beam_pages/includes/step-3/email.html.twig' %}
  </div>
</div>
